/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity. */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly. */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin. Define those yourself. */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* Always force a scrollbar in non-IE: */
html { overflow-y: scroll; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists. */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements. */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements. */
button, input, select, textarea { margin: 0; }

/* Colors for form validity. */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
a img {
    border: none;
}

html {
    background: #eeeeee;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333333;
    background: #F2F2F3 url('/images/background.png') repeat-x;
}

body.selected-stage-2 {
    background: #fff url('/images/bg3.png') repeat-x;
}

.clear {
    clear: both;
}

#dayapp {
    position: relative;
    width: 960px;
    margin: 0px auto 0px;
    min-height: 1080px;
}

body.selected-stage-2 #dayapp {
    min-height: 600px;
}

.add-angels {
    display: none;
}

#dayapp .logo {
    position: absolute;
    left: 20px;
    width: 170px;
    height: 170px;
    background: #f2f3f4 url('/images/logo.png');
}

#dayapp h1 {
    font-family: 'Cabin', arial, serif;
    color: #107FFF;
    position: absolute;
    font-size: 48px;
    left: 200px;
    font-weight: bold;
    top: 100px;
    line-height: 1;
}

#dayapp h2 {
    position: absolute;
    font-size: 18px;
    top: 28px;
    right: 0px;
    font-weight: normal;
}

#dayapp .story {
    position: absolute;
    left: 200px;
    top: 180px;
    font-size: 30px;
    line-height: 34px;
}

#dayapp .story strong {
    padding: 0px 4px;
    background-color: #E5E2CA;
}

#dayapp .bottom {
    position: absolute;
    width: 960px;
    height: 700px;
    left: 0px;
    top: 312px;
    font-size: 30px;
    line-height: 34px;
    background: #f2f3f4 url('/images/landing-bottom.png');
}

.mock3 {
    display: none;
    position: relative;
    z-index: 0;
    opacity: 0.1;
    width: 960px;
    height: 700px;
    background: #f2f3f4 url('/images/mock3.png');
    margin: auto auto;
    margin-bottom: -700px;
}

.create-routine {
    width: 760px;
    margin: auto;
    position: relative;
}
.create-routine input {
    width: 466px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
.create-routine input::-webkit-input-placeholder {
    font-style: italic;
}
.create-routine span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
}

.new-routine-frequency {
    width: 200px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    height: 47px;
}

.routines {
    padding-top: 180px;
    clear: both;
    min-height: 10px;
}

.routine-list {
    clear: both;
    margin: 0;
    padding: 0;
}
.routine-list li {
    padding: 0;
    position: relative;
    line-height: 29px;
}


.routine-separator {
    background: #999 url('/images/separator.png') top left;
    height: 8px;
    width: 960px;
}

.routine-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.routine-list li.editing {
    padding: 0;
    border-bottom: 0;
}
.routine-list .editing .display,
.routine-list .edit {
    display: none;
}
.routine-list .editing .edit {
    display: block;
}
.routine-list .editing input {
    width: 920px;
    font-size: 18px;
    font-family: inherit;
    margin: 0;
    line-height: 18px;
    border: 0;
    outline: none;
    padding: 0px 8px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.routine .check {
    position: relative;
    top: 10px;
    margin: 0 4px 0 4px;
    float: left;
    display: none;
}

.routine-fixed:hover .check {
    display: block;
}

.col1 {
    width: 330px;
}

.col2 {
    width: 630px;
}

.routine-header-name {
    float: left;
    height: 30px;
}

.routine-header-weeks {
    float: left;
    position: relative;
    left: 2px;
}

.routine-fixed {
    float: left;
}

.routine-weeks {
    float: left;
}

.week {
    float: left;
}

.day {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 2px solid #999;
    float: left;
    cursor: pointer;
}

.addnew-button {
    background: #f2f3f4 url('/images/button-addnew.png');
    width:162px;
    height:32px;
    cursor: pointer;
}

.day.checked {
    background: #1067FF url('/images/checker.png');
}

.day.today {
    border-color: #000;
}

.day-header {
    float: left;
    width: 29px;
    height: 30px;
    line-height: 14px;
    text-align: center;
    color: #ccc;
}

.day-header.today  {
    color: #000;
}

.day-header-day {
    font-weight: bold;
}

.props {
    margin-top: 30px;
    background: #fff url('/images/props.png');
    width: 960px;
    height: 270px;
}

.week-header {
    font-size: 10px;
    border-right: 2px solid #f00; 
}

#stats {
    *zoom: 1;
    margin-top: 10px;
    color: #777777;
}

#stats:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
#stats .routine-count {
    float: left;
}
#stats .routine-count .number {
    font-weight: bold;
    color: #333333;
}
#stats .routine-clear {
    float: right;
}
#stats .routine-clear a {
    color: #777777;
    font-size: 12px;
}
#stats .routine-clear a:visited {
    color: #777777;
}
#stats .routine-clear a:hover {
    color: #336699;
}

/*
* FranÃ§ois 'cahnory' Germain
*/
.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
    color: #ffffff;
    cursor: normal;
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 12px;
    font-family: arial;
    padding: .5em 1em;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px #111111;
    -webkit-border-top-left-radius: 4px ;
    -webkit-border-top-right-radius: 4px ;
    -webkit-border-bottom-right-radius: 4px ;
    -webkit-border-bottom-left-radius: 4px ;
    -khtml-border-top-left-radius: 4px ;
    -khtml-border-top-right-radius: 4px ;
    -khtml-border-bottom-right-radius: 4px ;
    -khtml-border-bottom-left-radius: 4px ;
    -moz-border-radius-topleft: 4px ;
    -moz-border-radius-topright: 4px ;
    -moz-border-radius-bottomright: 4px ;
    -moz-border-radius-bottomleft: 4px ;
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    border-bottom-left-radius: 4px ;
    -o-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -moz-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -khtml-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -webkit-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    background-color: #3b3b3b;
    background-image: -moz-linear-gradient(top,#555555,#222222);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
    content: "\25B8";
    display: block;
    font-size: 2em;
    height: 0;
    line-height: 0;
    position: absolute;
}
.ui-tooltip:after, .ui-tooltip-bottom:after {
    color: #2a2a2a;
    bottom: 0;
    left: 1px;
    text-align: center;
    text-shadow: 1px 0 2px #000000;
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -khtml-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 100%;
}
.ui-tooltip-top:after {
    bottom: auto;
    color: #4f4f4f;
    left: -2px;
    top: 0;
    text-align: center;
    text-shadow: none;
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -khtml-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 100%;
}
.ui-tooltip-right:after {
    color: #222222;
    right: -0.375em;
    top: 50%;
    margin-top: -.05em;
    text-shadow: 0 1px 2px #000000;
    -o-transform: rotate(0);
    -moz-transform: rotate(0);
    -khtml-transform: rotate(0);
    -webkit-transform: rotate(0);
}
.ui-tooltip-left:after {
    color: #222222;
    left: -0.375em;
    top: 50%;
    margin-top: .1em;
    text-shadow: 0 -1px 2px #000000;
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.fb-login-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fb-avatar {
    display: none;
    position: absolute;
    top: 10px;
    right: 150px;
}

.fb-avatar {
   border: 1px solid #ccc;
}

.fb-avatar img {
    display: block;
    border: 1px solid #fff;
}

.routine-input-wrapper {
    float: left;
}

.routine-frequency-wrapper {
    float: left;
}

.routine-picker-wrapper {
    float: left;
    margin-right: 10px;
}

.routine-start {
    margin-left: 10px;
    padding: 4px 10px;
    color: #fff;
    font-size: 24px;
    float: left;
    border: 3px solid #fff;
    background-color: #262626;
    cursor: pointer;
     -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.routine-alternate-start {
    top: 110px;
    left: 598px;
    position: absolute;
    font-size: 11px;
    line-height: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: #777;
}

.routine-alternate-start:hover {
    color: #999;
}

.routine-fore {
    float: left;
    margin-right: 20px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

#page-landing .create-routine {
    padding-top: 50px;
}

#page-landing select {
    font-weight: bold;
}

.new-routine-picker {
    width: 300px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    height: 47px;
}

.reset-session {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
}

.connect-bg {
    position:absolute;
    top: 180px;
    width: 960px;
    height: 311px;
    background: #f2f3f4 url('/images/potemkin-fbscreen.png');
}

.cal-left-arrow {
    position:absolute;
    top: 184px;
    left: 300px;
    width: 22px;
    height: 22px;
    background: #eee url('/images/small-arrows.png') 0 0;
    cursor: pointer;
}

.cal-right-arrow {
    position:absolute;
    top: 184px;
    right: -10px;
    width: 22px;
    height: 22px;
    background: #eee url('/images/small-arrows.png') -22px 0;
    cursor: pointer;
}

.potemkin-routine-name {
    position: absolute;
    top: 53px;
    left:10px;
}

.fake-connect-button {
    position: absolute;
    left: 552px;
    top: 164px;
    width: 310px;
    height: 60px;
    cursor: pointer;
}

.angels-area {
    position: absolute;
    top: 0;
    left: 300px;
}

.routine-name {
    font-size: 18px;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.angels-list {
    background-color: red;
    position: absolute;
    top: 90px;
    left: 30px;
}

.angels-list img {
    display: block;
}

#page-standard .create-routine {
    width: auto;
    margin: 0;
}

#page-standard .create-routine input {
    width: 320px;
    font-size: 18px;
    height: 20px;
}

#page-standard .create-routine select {
    width: 140px;
    font-size: 18px;
    height: 34px;
}

.comments-footer {
    height: 445px;
    background: #eee url('/images/comments-repeat.png') repeat-x;
}

.comments-inner {
    height: 445px;
    width: 960px;
    margin: auto;
    background: #eee url('/images/comments.png');
}

#page-landing .create-routine {
    width: 780px;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement. */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here. */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here. */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you:
     j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links. */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}